
<a href="http://api.stripe.g6nutrition.com/stripe/orders" target="_blank">
  <div id="downloadButton">
    <!-- Set given icon value -->
    <img src="assets/icons/{{icon}}.svg" />
  </div>
</a>

{{yield}}