
<div class="priceDiscountContainer">

  <div class="priceInputContainer">
    <p>*PRICE</p>
    {{input id="priceInput" value=price}}
  </div>

  <div class="discountInputContainer">
    <p>*PRICE WITH DISCOUNT</p>
    {{input id="discountInput" value=discount}}
  </div>

</div>

{{yield}}