<table id="statisticProductTable">

  <!-- Set statistic data -->
  <tr class="statisticInTable">
    <td class="statisticName statisticTableItem">{{item.name}}</td>
    <td class="statisticSold statisticTableItem">{{item.sold}}</td>
  </tr>

</table>

{{yield}}