<div id="productsPage" class="pageContainer fade-in">

  <!-- Set page header-->
  <div class="pageHeader">
    <span>Products</span>
    <div class="searchHolder">
      <img src="assets/icons/magnify.svg"/>
      <input id="productSearcher" onkeyup={{action 'searchProducts'}}/>
    </div>
  </div>

  <!-- Loop through data and create product components-->
  <div id="productsDataContainer">
    {{#each model as |product|}}
      <!-- Set data to component and set page value for right redirecting after clicking on edit icon -->
      {{product-supplement-component item=product page='edit-product'}}
    {{/each}}
  </div>

  <!-- Set button redirection page and appropriate icon -->
  {{paper-fab-component page='add-product' icon='plus'}}

</div>

{{outlet}}